@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));







/*Esconde header e footer no form de login*/
body.hide-layout Header,
body.hide-layout Footer {
  display: none !important;
}